img {
    width: 200px;
}
body {
    background-image: url("http://vignette4.wikia.nocookie.net/powerlisting/images/9/9d/Pipes.jpg/revision/latest?cb=20140713230646");
    background-size: cover;
    color: rgb(0, 0, 255);
    text-align: center;
    font-family: "Comic Sans";
}
h1 {
    color: red;
}
.grow img {
  height: 180px;
  width: 300px;
 
     -moz-transition: all 1s ease;

}
 
.grow img:hover {
  width: 600px;
  height: 360px;
}
mark {
    color: yellow;
    background-color: rgb(0, 0, 255);
}